html,
body {
  font-family: "Ubuntu", sans-serif !important;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 239, 239);
  /* background-color: #292929; */
}

.paystack-button {
  cursor: pointer;
  border-radius: 24px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  background-color: #175c69;
  /* font-weight: bold; */
  color: #f9e8e4;
  border: none;

  width: 100%;
  height: 45px;
  /* margin-top: 40px; */
}

.Mui-selected{
  background-color: #000099 !important;
  color: #fff !important;
  font-weight: bold !important;
  border-style: solid;
      border-color: transparent transparent #000099 transparent;
      border-width: 0 25px 25px 25px;
      
      box-sizing: content-box;
      /* position: relative; */
}
.MuiToggleButton-root{
  color: #fff !important;
  font-weight: bold !important;
  border: none !important;
  margin-right: 16px !important;
 
                  
}
.Mui-selected::after{
  content: "";
      position: absolute;
      bottom: -8px;
      left: 25%;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #000099 transparent transparent transparent;
      border-width: 10px 10px 0 10px;
}

.MuiAutocomplete-root, .MuiFilledInput-root{
  border: none !important;
  background-color: #fcfcfb !important;
  border-radius: 5px !important;
}